<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Crear Etapas</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input [(ngModel)]="etapa.nombre" name="nombre" type="text" class="form-control" id="nombreEtapa">
        </div>
        <div class="form-group">
          <label for="">Codigo:</label>
          <input [(ngModel)]="etapa.codigo" name="codigo" type="text" class="form-control" id="codigo">
        </div>
        <div class="form-group">
          <label for="">Direccion:</label>
          <input [(ngModel)]="etapa.direccion" name="direccion" type="text" class="form-control" id="direccion">
        </div>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input [(ngModel)]="etapa.telefono" name="telefono" type="text" class="form-control" id="telefono">
        </div>
        <button (click)="guardarEtapa()" class="bi bi-check2-square btn btn-sm btn-danger" id="guardarEtapa"> Crear</button>
      </form>
    </div>
  </div>
</div>
